.card {

  border-radius: 2rem;
  overflow: hidden;
  transform: translateZ(0);
}

.Image {
 width: 100%;
}
.card__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: hsl(0 0% 100% / 0.5);
  height: 30%;
}


.card h2 {
  font-size: 1.7rem;
  margin: 0;
}

.card h3 {
  font-size: 1.7rem;
  color: #414141;
  margin: 0;
}
