.card {
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  transform: translateZ(0);
  transition: background-color 0.2s;
}

.Image {
 width: 100%;
}
.card__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: hsl(0 0% 100% / 0.5);
  height: 30%;
  transform: scale(1);
  transition: transform 0.6s;
}
.Image:active,
.Image:hover {
  transform: scale(1.2);
}

.card h2 {
  font-size: 1.7rem;
  margin: 0;
  margin-left: 10px;
}

.card h3 {
  font-size: 1.7rem;
  color: #414141;
  margin: 0;
  margin-left: 10px;
}
