@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}

#h3Character {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;

}

#titelCharacter {

  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  /* background-color: #262626; */
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: 10rem;
  color: #08BAE3;
  -webkit-text-stroke: 1.5px rgba(16, 16, 16, 0.721);



}

:root {
  --primary: #e99401;
  --negro: #262626;
  --blanco: #FFF;
  --fuente-principal: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}


body {

  background-image: url();
  font-size: 2rem;
  font-family: var(--fuente-principal);

  background: rgb(0, 0, 0);
  color: white;
}

img {
  max-width: 100%;
}

#portal {
  height: 150rem;
  width: auto;
  background-image: url(https://images2.alphacoders.com/130/1300399.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
 


}

.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

}

.card-container {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-gap: 5px;

}

.heard-nav-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  
}
.name-page-text {
  font-size: 16px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #e99401;
}
.button-nav{
  display: inline-block;
  padding: 8px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button-nav:hover {background-color: #3e8e41}

.button-nav:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.name-page {
  width:80%; 
  height: 10px;/* Tamaño del párrafo */
}
[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

[class*="heading"] {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}